.exercises-container{
    width: 360px;
    height: 450px;
    border: 3px solid orange;
    position: relative;
    border-radius: 20px;
}

img{
    width: 340px;
    height: 280px;
}
.add-to-side-bar-btn{
    width: 100%;
    position: absolute;
    bottom: 0;
    left: 0;
    background-color: burlywood;
    border: none;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px 15px;
}
p{
    padding-left: 10px;
}

@media only screen and (min-width: 768px) and (max-width: 1023px) {
    .exercises-container{
        width: 230px;
        height: 340px;
        border: 3px solid orange;
        position: relative;
        border-radius: 20px;
    }
    
    img{
        width: 180px;
        height: 180px;
    }
  }
  