

.exercise-all-container {
  display: grid;
  grid-template-columns: 4fr 1fr; 
  /* margin-left: 20px;
    margin-top: 40px; */
  width: 90%;
  margin: auto;
  
}

.exercise-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
  
}

/* phone responsive */
@media only screen and (max-width: 667px) {
  .exercise-all-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    /* margin-left: 20px;
            margin-top: 40px; */
    /* width: 100%; */
   margin-left: 13px;
    /* padding-left: 8px; */
  }

  .exercise-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 30px;
    align-items: center;
    justify-content: center;
  }
}

/* tablet responsive */
@media only screen and (min-width: 668px) and (max-width: 1023px) {
  .exercise-all-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
    /* margin-left: 20px;
            margin-top: 40px; */
    width: 80%;
    margin: auto;
  }

  .exercise-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }
}


.title{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;

}